// Declaracion de variables

//
$rojo:red;
$verde:rgb(9, 231, 9);
$amarillo:yellow;   

// Declaracion de mixin

@mixin atributosComunes($margenGeneral,$rellenoGeneral,$colorFondo) { 
    margin: $margenGeneral $margenGeneral $margenGeneral $margenGeneral;
    padding: $rellenoGeneral $rellenoGeneral $rellenoGeneral $rellenoGeneral;
    background-color: $colorFondo;
}

@mixin margenes($top,$bottom) { 
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin rellenos($top,$right,$bottom,$left) {
    padding: $top $right $bottom $left;
}


/*Propiedades de la clase jumbotron(banner)*/
.jumbotron{
    background-color:$amarillo;
    color:black;     
    background-image: url(../images/banner.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;

    @include margenes(50px,0px );
}

/*Propiedades del footer*/
footer{
    @include atributosComunes(10px,2px,$verde);
}

/*Clase para configuracion de los elementos de cada producto(tours)*/
.card-tours{
    flex: 1 200px;    
    @include rellenos(12px,12px,12px,12px );
    margin: 12px 12px 12px 12px;
    border-radius: 50px;
    background-color: $verde;
}


/*Clase para configuracion de los botones de los productos(tours)*/
.btn_reserva{
    width: 100%;
    border-radius: 0px;
}


.footer-address-icon{
    padding-right: 8px;    
}

.ui-dialog {z-index: 999; }