/*Propiedades de la clase jumbotron(banner)*/
.jumbotron {
  background-color: yellow;
  color: black;
  background-image: url(../images/banner.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  margin-top: 50px;
  margin-bottom: 0px; }

/*Propiedades del footer*/
footer {
  margin: 10px 10px 10px 10px;
  padding: 2px 2px 2px 2px;
  background-color: #09e709; }

/*Clase para configuracion de los elementos de cada producto(tours)*/
.card-tours {
  flex: 1 200px;
  padding: 12px 12px 12px 12px;
  margin: 12px 12px 12px 12px;
  border-radius: 50px;
  background-color: #09e709; }

/*Clase para configuracion de los botones de los productos(tours)*/
.btn_reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 8px; }

.ui-dialog {
  z-index: 999; }
